
 <!-- <h2 class="mt-5 pt-4 mb-4 text-center fw-bold h-font">OUR FACILITIES</h2>
  
 <div class="container">
   <div class="row justify-content-evenly px-lg-0 px-md-0 px-5">
     <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3">
       <img src="../assets/image/features/wifi.svg.png" width="80px">
       <h5 class="mt-3">Wifi</h5>
     </div>
     <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3">
       <img src="../assets/image/features/parking.svg.png" width="80px">
       <h5 class="mt-3">Parking</h5>
     </div>
     <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3">
       <img src="../assets/image/features/wifi.svg.png" width="80px">
       <h5 class="mt-3">Wifi</h5>
     </div>
     <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3">
       <img src="../assets/image/features/wifi.svg.png" width="80px">
       <h5 class="mt-3">Wifi</h5>
     </div>
     <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3">
       <img src="../assets/image/features/wifi.svg.png" width="80px">
       <h5 class="mt-3">Wifi</h5>
     </div>
     <div class="col-lg-12 text-center mt-5">
       <a href="#" class="btn btn-sm btn-outline-dark rounded-0 fw-bold shadow-none">More Facilities>>></a>
     </div>
   </div>
 </div> -->
 

<div class="my-5 px-4">
    <h2 class="fw-bold h-font text-center">OUR FACILITIES</h2>
    <div class="h-line bg-dark"></div>
    <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Adipisci quidem officia dolores reprehenderit praesentium quod <br> nemo laboriosam ex quae temporibus laudantium repellendus maiores,
        aut non aperiam a blanditiis perspiciatis. Ipsam?</p>        
</div>
<div class="container">
  <div class="row">
     <div class="col-lg-4 col-md-6 mb-5 px-4">
       <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
        <div class="d-flex">
          <img src="../assets/image/features/wifi.svg.png" width="40px">
        </div>
        <h5>Wifi</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
           blanditiis. Nihil architecto molestias minima delectus?</p>
       </div>
     </div>
     <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
       <div class="d-flex">
         <img src="../assets/image/features/parking.svg.png" width="40px">
       </div>
       <h5>Parking</h5>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          blanditiis. Nihil architecto molestias minima delectus?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
       <div class="d-flex">
         <img src="../assets/image/features/wifi.svg.png" width="40px">
       </div>
       <h5>Wifi</h5>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          blanditiis. Nihil architecto molestias minima delectus?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
       <div class="d-flex">
         <img src="../assets/image/features/wifi.svg.png" width="40px">
       </div>
       <h5>Wifi</h5>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          blanditiis. Nihil architecto molestias minima delectus?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
       <div class="d-flex">
         <img src="../assets/image/features/wifi.svg.png" width="40px">
       </div>
       <h5>Wifi</h5>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          blanditiis. Nihil architecto molestias minima delectus?</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
       <div class="d-flex">
         <img src="../assets/image/features/wifi.svg.png" width="40px">
       </div>
       <h5>Wifi</h5>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          blanditiis. Nihil architecto molestias minima delectus?</p>
      </div>
    </div>
  </div>
</div>







 
 