<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ post.name }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{post.email }}</p>
    </div>

    <div>
        <strong>phonenumber:</strong>
        <p>{{post.phonenumber }}</p>
    </div>

    <div>
        <strong>dateofbirth:</strong>
        <p>{{post.dateofbirth }}</p>
    </div>

    <div>
        <strong>roomtype:</strong>
        <p>{{post.roomtype }}</p>
    </div>

    <div>
        <strong>numberofguests:</strong>
        <p>{{post.numberofguests }}</p>
    </div>

    <div>
        <strong>CheckinDate:</strong>
        <p>{{post.checkindate }}</p>
    </div>

    <div>
        <strong>Checkoutdate:</strong>
        <p>{{post.checkoutdate }}</p>
    </div>

    <div>
        <strong>Address:</strong>
        <p>{{post.address}}</p>
    </div>   
</div>

