<div class="my-5 px-4">
    <h2 class="fw-bold h-font text-center">CONTACT US</h2>
    <div class="h-line bg-dark"></div>
    <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Adipisci quidem officia dolores reprehenderit praesentium quod <br> nemo laboriosam ex quae temporibus laudantium repellendus maiores,
        aut non aperiam a blanditiis perspiciatis. Ipsam?</p>        
</div>
<div class="container">
  <div class="row">
     <div class="col-lg-6 col-md-6 mb-5 px-4">
       <div class="bg-white rounded shadow p-4">
        <iframe class="w-100 rounded mb-4" height="320px" src="https://www.google.com/maps/d/embed?mid=1Ud5DRnqhKifdeHQ0wjENsGgLp_0&hl=en_US&ehbc=2E312F"></iframe>


        <h5>Address</h5>
        <a href="https://www.google.com/maps/d/embed?mid=1Ud5DRnqhKifdeHQ0wjENsGgLp_0&hl=en_US&ehbc=2E312F" target="_blank" class="d-inline-block text-decoration-none text-dark mb-2">
        <i class="bi bi-geo-alt-fill"></i>XYZ, Paltan, Dhaka   
        </a>
        <h5 class="mt-4">Call us</h5>
        <a href="tel: +088012035850" class="d-inline-block mb-2 text-decoration-none text-dark">
          <i class="bi bi-telephone-fill"></i>+088012035850
        </a>
        <br>
        <a href="tel: +088012035850" class="d-inline-block text-decoration-none text-dark">
          <i class="bi bi-telephone-fill"></i>+088012035850
        </a>
        <h5 class="mt-4">Email</h5>
        <a href="mailto: hotelalselim@gmail.com" class="d-inline-block text-decoration-none text-dark">
        <i class="bi bi-envelope-dash-fill"></i>hotelalselim@gmail.com</a>


        <h5 class="mt-4">Follow us</h5>
          <a href="#" class="d-inline-block text-dark fs-5 me-2">           
            <i class="bi bi-twitter me-1"></i>          
          </a>         
          <a href="#" class="d-inline-block text-dark fs-5 me-2">           
             <i class="bi bi-facebook me-1"></i>           
           </a>          
          <a href="#" class="d-inline-block text-dark fs-5">           
             <i class="bi bi-instagram me-1"></i>          
           </a>     
       </div>
     </div>


     <div class="col-lg-6 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow p-4">
       <form>
        <h5>Send a message</h5>
         <div class="mb-3">
           <label class="form-label" style="font-weight: 500;">Name</label>
           <input type="text" class="form-control shadow-none">
         </div>
         <div class="mb-3">
            <label class="form-label" style="font-weight: 500;">Email</label>
            <input type="email" class="form-control shadow-none">
          </div>
          <div class="mb-3">
            <label class="form-label" style="font-weight: 500;">Subject</label>
            <input type="text" class="form-control shadow-none">
          </div>
          <div class="mb-3">
            <label class="form-label" style="font-weight: 500;">Message</label>
            <textarea class="form-control shadow-none" rows="5" style="resize: none;"></textarea>
          </div>
          <button type="submit" class="btn text-white custom-bg mt-3">SEND</button>

       </form>
      </div>
    </div>   
  </div>
</div>